/* * {
  border: 1px solid red;
} */

/* GENERAL */
#header {
  background: lightsteelblue;
  opacity: 90%;
  height: auto;

  padding: -100px 50px;
}
h1#banner {
  color: white;

  text-align: center;
  font-size: 20px;
}
a#download {
  display: block;
  text-align: center;
  width: 70px;
  margin: 0px auto;
  padding: 0px;
  color: white;
  text-transform: uppercase;

  border: 1px solid #fff;
  text-decoration: none;
  border-radius: 10px;
}

label {
  color: #006eec !important ;
}

/* HERO VIEWS*/
.hero-area {
  display: flex;
  justify-content: center;
  align-items: end;
  height: 180px;
}

.hero-area h1 {
  color: rgb(242, 242, 242);
  text-shadow: 3px 3px 1px black;
}

/* ALERTS */
.alert {
  color: red;
  text-align: center;
  padding-top: 1em;
}

/* TABLE */

.table {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-x: scroll;
}

.table .role{
  color: #E2B842
}

.table .delete{
  color:red
}

