.register .contact-form {
  display: flex;
  justify-content: center;
}

.register .date label {
  font-size: 14px;
  color: #8d8d8d;
}

.register .select {
  padding-top: -1.1em;
  margin-top: -0.4em;
}

.register .select p {
  color: #006eec;
  font-size: 14px;
  padding-bottom: 0.1em;
  margin: 0;
}

.register .select select {
  color: black;
  font-size: 14px;
}

.register .tlf {
  margin-bottom: 2em;
}

.register .but {
  display: flex;
  justify-content: center;
}
