.vehicles {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 2em 2em;
}

.vehicles .disabled {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0 0.5em;
}

.vehicles .disabled p {
  color: red;
  text-shadow: 1px 1px 1px black;
  font-size: 20px;
  line-height: 20px;
}

.vehicles .post-cta a {
  font-size: 20px !important;
}

.vehicles .post-content h3 {
  font-weight: 400;
}
.vehicles .post-content > p {
  line-height: 10px;
  margin: 0.5em 0;
  padding: 0;
  display: inline;
  font-size: 20px;
}

.vehicles .post-content .line-through {
  text-decoration: line-through;
}

.vehicles .available,
.vehicles .rented,
.vehicles .selled {
  font-size: 15px !important;
}

.vehicles .post-meta .available {
  color: cadetblue;
}
.vehicles .post-meta .rented {
  color: #e1b42b;
}
.vehicles .post-meta .selled {
  color: cornflowerblue;
}
