.container {
  text-align: center;
  margin: auto;
}
.button {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  padding-right: 30px;
  padding-left: 70px;
  position: relative;
  background-color: rgb(41, 127, 184);
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 15px;

  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
  -ms-filter: "progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#ff123852,Positive=true)";
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#ff123852,Positive=true);

  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  -ms-filter: "progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=2,Color=#33000000,Positive=true)";
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=2,Color=#33000000,Positive=true);
}
a:hover {
  color: rgb(38, 61, 80);
}
.button span {
  position: absolute;
  left: 0;
  width: 50px;
  background-color: rgba(0, 0, 0, 0.945);

  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: 1px solid rgba(0, 0, 0, 0.15);
}

.button:active {
  margin-top: 2px;
  margin-bottom: 13px;

  -moz-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
  -ms-filter: "progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#ccffffff,Positive=true)";
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#ccffffff,Positive=true);
}

.button.orange {
  background: #ff7f00;
}

.button.purple {
  background: #8e44ad;
}

.button.turquoise {
  background: #1c88a8;
}

.button.red {
  background: #e74c3c;
}
