* {
  border: 1px solid red;
}

#header {
  background: lightsteelblue;
  opacity: 90%;
  height: auto;

  padding: -100px 50px;
}
h1#banner {
  color: white;

  text-align: center;
  font-size: 20px;
}
a#download {
  display: block;
  text-align: center;
  width: 70px;
  margin: 0px auto;
  padding: 0px;
  color: white;
  text-transform: uppercase;

  border: 1px solid #fff;
  text-decoration: none;
  border-radius: 10px;
}
